body {
    padding: 1em;
    max-width: 1000px;
    font-family: "Segoe UI",Helvetica,Arial,sans-serif;    
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5;
}

h1 {
    font-size: 2em;
}
h1, h2 {
    border-bottom: 1px solid #eeeeee;
    padding-bottom: .3em;
}
